@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



h1 {
    font-family: 'Cormorant SC', sans-serif;
}
.playfair {
    font-family: 'Playfair Display', sans-serif;
}
h2, h3, h4, h5 {
    font-family: 'Smooch Sans', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
    color: black; 
}
.no-scroll {
  overflow: hidden;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}
.hide-number-arrows[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.hide-number-arrows::-webkit-outer-spin-button,
.hide-number-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}